body
	{
		background-image: url('../../image/n.jpg');
		/*background-repeat: no-repeat;*/
		background-image: cover;
		/*background-color: black;*/
		
	}
.jumbotron
	{
		width: 1200px;
		height: 50px;
		padding-top: 10px;
		/*background-color: rgba(0,0,0,0.5);*/
		background-color: black;
	}
button[type="button"]
	{
		padding-left: 20px;
		margin: 5px;
		width: 250px;

	}