*
	{
		margin:  0px;
		padding: 0px;
	}
p
	{
		text-align: center;
	}
p a
	{
		color: white;
	}		
.site-footer
	{
		background-color: #000000;
		color: blue;
		position: fixed;
		bottom: 0;
		right:0;
		left: 0;

	}	
.bottom-footer
	{
		border-top: 2px solid red;

		color: white;
	}
.footer-nav 
	{
		text-align: right;
		list-style-type: none;
	}	
.footer-nav li
	{
		display: inline;
		padding: 0px 10px;
	}
.footer-nav li a
	{
		color: white;
	}