body
	{
		background-image: url('../../image/123.jpg');
		background-size: cover;
	}
.jumbotron
	{
		width: 500px;
		height: 350px;
		background-color: rgba(0,0,0,0.5);
		margin-left: 30%;
		margin-top: 17%; 
		padding-top: 30px;
		padding-left: 10px; 
		color: white;
		font-weight: bolder;

	}
.jumbotron input[type="text"]
	{
		width: 250px;
		height: 35px;
		padding-top: 5px;
		border-radius: 8px; 
		color: red;
	}
.jumbotron input[type="password"]
	{
		width: 250px;
		height: 35px;
		padding-top: 5px;
		border-radius: 8px; 
		color: red;
	}
.jumbotron input[type="checkbox"]
	{

		width: 50px;
		height: 20px;
		padding-top: 5px;
		border-radius: 8px;
	}
.jumbotron button[type="submit"]
/*	{
		width: 200px;
		height: 35px;
		padding-top: 5px;
		border-radius: 8px; 

	}*/